*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS';
}

body {
  margin: 0;
  background-color: #0288d1;
}

a {
  color: black;
  text-decoration: none;
}

p {
  text-indent: 4%;
  font-size: 20px;
  font-family: 'Georgia';
}

#CONTAINER_PARENT_0{
  text-align: left;
  background: lightcoral;
  display: inline-block;
  width: 209px;
  padding: 30px;
  box-sizing: content-box;
  left: 50px;
  font-family: 'Times New Roman';
}

#CONTAINER_PARENT_1 {
  text-align: left;
  display: inline-block;
  background-color: white;
  box-sizing: content-box;
  word-wrap: break-word;
  padding: 30px 20px 30px; /*top, left and right, bottom*/
  border-radius: 25px;
  margin: 5pc 50pc 0;
}

@media (max-width: 1440px){
  #CONTAINER_PARENT_1 {
      margin: 5pc 5pc 0;
  }
}

